* {
  margin: 0;
  padding: 0;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.header{
  height: 50px;
  border-bottom: 1px solid gray;
  box-shadow: 3px 3px 4px gray;
}

.header h1 {
  line-height: 50px;
  margin-left: 5%;
  font-size: 20px;
}

.tools {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toolsb, .tools-colors {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  width: 100%;
  margin-left: 100px;
  margin-top: 100px;
  padding-bottom: 20px;
}
  
.tools-item, .colors_item {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tools-item:nth-child(1), .colors_item:nth-child(1) {
  margin-top: 20px;
}

.tools-item_active {
  background: #75727281;
}

.tools-item {
  cursor: pointer;
}

.tools-item img {
  margin-left: 35px;
}

.tools-tem span {
  margin-left: 30px;
}

.tools-item:nth-child(4) {
  opacity: 0.6;
}

.colors_item {
  cursor: pointer;
}

.colors_item .color {
  margin-left: 35px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid #9c9999;
}

.colors_item:nth-child(1) .color, .colors_item:nth-child(2) .color {
  background: #fff;
}

.colors_item:nth-child(4) .color {
  background: #ff0000;
}

.colors_item:nth-child(5) .color {
  background: #0000ff;
}

.colors_item span {
  margin-left: 30px;
}

#canvas {
  width: 512px;
  height: 512px;
  background: #a19e9e;
  margin-top: 100px;
  margin-left: 300px;
  border: 1px solid #a19e9e;
}

#color_input {
  opacity: 0;
  cursor: pointer;
}